<!-- templates/show.html -->
{{define "title"}}Show User{{end}}

<h2 class="text-2xl font-bold mb-4">User Details</h2>
<div class="bg-white shadow-md rounded p-6 mb-4">
    <p class="text-gray-700 text-lg"><strong>ID:</strong> {{.User.ID}}</p>
    <p class="text-gray-700 text-lg"><strong>Name:</strong> {{.User.Name}}</p>
    <p class="text-gray-700 text-lg"><strong>Email:</strong> {{.User.Email}}</p>
</div>
<a href="/" hx-get="/" hx-target="#content" hx-replace-url="true" hx-swap="innerHTML" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</a>
